# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/build

# testing
App.test.js
reportWebVitals.js
web-vitals-log.json
setupTests.js

# Environment variables
.env

# Miscellaneous
.DS_Store
Thumbs.db
.prettierrc
eslinf.config.js

# Logs
logs
*.log
npm-debug.log*

# Debugger/workspace files
*.code-workspace
*.iml
/.vscode
