@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sunDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
  
@keyframes moonUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  
.sun-animation {
  animation: sunDown 0.5s forwards;
}
  
.moon-animation {
  animation: moonUp 0.5s forwards;
}